:root {
  --bg-color: #E3F2FD; /* Light Blue */
  --text-color: #0D47A1; /* Dark Blue */
  --navbar-bg: #BBDEFB; /* Soft Blue */
  --book-bg: #cbeeff; /* Very Light Blue */
  --book-text: #01579B; /* Deep Blue */
}

[data-theme="dark"] {
  --bg-color: #000000; /* Black */
  --text-color: #FFFFFF; /* White */
  --navbar-bg: #1A1A1A; /* Dark Grey */
  --book-bg: #ffffff31; /* Almost Black */
  --book-text: #E0E0E0; /* Light Grey */
}

.App {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 10px;
}

.navbar {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--navbar-bg);
  color: var(--text-color);
}

.navbar input {
  width: 20%;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.navbar button {
  color: black;
  background-color: white;
}

.navbar button:hover {
  background-color: rgba(133, 133, 133, 0.239);
}

.navbar .btn img {
  width: 20px;
}

.navbar .btn img:hover {

}

.books-grid {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}

.book {
  background-color: var(--book-bg);
  color: var(--book-text);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.book-name {
  color: white;
  color: var(--text-color);
}

.book .options {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.book .options .btn {
  display: flex;
  gap: 5px;
  align-items: center;
}

.book .options .btn img {
  width: 25px;
}

.flipbook-container {
  padding: 10px;
  min-height: fit-content;


  background-color: #ffffffe8;
}

.flipbook {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
} 


.view-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.view-download .btn {
  background-color: black;
  color: white;
  transition: 0.2s ease;
}

.view-download .btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transform: scale(1.1);
}


.flipbook-page {
  background-color: #fff;
  padding: 10px;
}


.pdf-page {
  border: 1px solid #ddd;
  border-radius: 5px;
}


.page-indicator {
  margin-top: 10px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}